/* 
 * @Author: 陈能堡 - 梦幻雪冰
 *          http://www.h5course.com/
 *          http://m18050905128.blog.163.com/
 *          https://github.com/chennengbao
 * @Date:   2016-08-25 19:27:59
 * @Last Modified by:   陈能堡 - 梦幻雪冰
 * @Last Modified time: 2016-11-25 18:16:56
 *
 * @cnb-single-ellipsis     单行超出显示省略号
 * @cnb-multiple-ellipsis   多行文本超出显示省略号
 * @cnb-align-center-pos    水平垂直居中方法一
 * @cnb-align-center-table   水平垂直居中方法二
 * @cnb-align-center-flex    水平垂直居中方法三
 * @cnb-vertical-center-pos   垂直居中方法一
 * @cnb-vertical-center-table 垂直居中方法二
 * @cnb-vertical-center-flex  垂直居中方法三
 * @cnb-ani-scale-guide-infinite 引导点击动画
 */
@charset "utf-8";
/*单行超出显示省略号*/
.cnb-single-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	/*white-space 处理元素内的空白*/
	white-space: nowrap; /*文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止*/
}
/*多行文本超出显示省略号*/
.cnb-multiple-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	/*限制一个块元素显示的文本的行数（它没有出现在 CSS 规范草案中）*/
	-webkit-line-clamp: 3; /*【可修改】显示文本的行数*/
	-webkit-box-orient: vertical;/*规定框的子元素应该垂直排列*/
}
/*水平垂直居中方法一*/
.cnb-align-center-pos {
	position: relative;
}
.cnb-align-center-pos > div {/*【可修改】水平垂直居中的标签*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
/*水平垂直居中方法二*/
.cnb-align-center-table {
	display: table-cell;
	vertical-align: middle;
}
.cnb-align-center-table > div {/*【可修改】水平垂直居中的标签*/
	margin: 0 auto;
}
/*水平垂直居中方法三*/
/* 自适应垂直居中 */
.cnb-align-center-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	/*属性定义项目在主轴上的对齐方式*/
	-webkit-justify-content: center;
	/*属性定义项目在交叉轴上的对齐方式*/
	-webkit-align-items: center;
	-align-items: center;
	justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}
/*垂直居中方法一*/ 
.cnb-vertical-center-pos {
	position: relative;    
}
.cnb-vertical-center-pos > div {/*【可修改】垂直居中的标签*/
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
/*垂直居中方法二*/ 
.cnb-vertical-center-table {
	display: table-cell;
	vertical-align: middle;   
}
/*垂直居中方法二*/
.cnb-vertical-center-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-align-items: center;
}
/**************CSS3动画************************/
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
/*持续向上移动的动画*/
@-webkit-keyframes aniupinfinite {
	0% {
		opacity: 1;
		-webkit-animation-timing-function: ease;
		-webkit-transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0.4;
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translate3d(0, -0.5rem, 0);
	}
}
@keyframes aniupinfinite {
	0% {
		opacity: 1;
		-webkit-animation-timing-function: ease;
		animation-timing-function: ease;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0.4;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translate3d(0, -0.5rem, 0);
		transform: translate3d(0, -0.5rem, 0);
	}
}
.cnb-ani-up-infinite {
	-webkit-animation-name: aniupinfinite;
	animation-name: aniupinfinite;
}
/*持续向下移动的动画*/
@-webkit-keyframes anidowninfinite {
	0% {
		opacity: 1;
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translate3d(0, 0.5rem, 0);
	}
	100% {
		opacity: 0.4;
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translate3d(0, 0, 0);
	}
}
@keyframes anidowninfinite {
	0% {
		opacity: 1;
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		-webkit-transform: translate3d(0, 0.5rem, 0);
		transform: translate3d(0, 0.5rem, 0);
	}
	100% {
		opacity: 0.4;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.cnb-ani-down-infinite {
	-webkit-animation-name: anidowninfinite;
	animation-name: anidowninfinite;
}
/*持续顺时针旋转的动画*/
@-webkit-keyframes anirotatefinite {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes anirotatefinite {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.cnb-ani-rotate-infinite {
	-webkit-animation-name: anirotatefinite;
	animation-name: anirotatefinite;  
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
/*引导点击动画*/
@keyframes aniscaleguide {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	20% {
		opacity: 0;
		-webkit-transform: scale(2);
		transform: scale(2);
	}
	25% {
		opacity: 0;
		transform: scale(1);
		transform: scale(1);
	}
	30% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		opacity: 0;
		-webkit-transform: scale(2);
		transform: scale(2);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes aniscaleguide {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	20% {
		opacity: 0;
		-webkit-transform: scale(2);
	}
	25% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
	30% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	50% {
		opacity: 0;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
}
.cnb-ani-scale-guide-infinite {
	-webkit-animation-name: aniscaleguide;
	animation-name: aniscaleguide;  
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
/**************其它样式************************/
/*隐藏*/
.cnb-hide {
	display: none!important;
}
/*显示*/
.cnb-show {
	display: block!important;
}
